.notifications {
  margin: 30px 0 30px 0;
  .information {
    background-color: #d7edfe;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    .f {
      background-color: red;
    }
    &__flex {
      display: flex;
      justify-content: start;
      align-items: center;
      &-image {
        width: 60px;
        margin-right: 10px;
      }
      &-description {
        font-size: .9rem;
      }
    }
  }
  .initial {
    background-color: #ffffff;
    transition: .3s;
  }
}