.title {
  font-size: 1.3rem;
  font-weight: bold;
  span {
    background-color: rgb(46, 46, 251);
    padding: 2px 10px 2px 10px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
  }
}